.app-menu>ul>li>a.exit-mobile {
    display: none;
}

@media(min-width: 500px) {
    .app-menu>ul>li>a.exit-mobile {
        display: block;
    }

    div#events-card.card.file-manager-folder {
        /* TODO: @Brayan-chan Adjust size for mobile version */
        /* max-width: 300px; */
    }

    div.row {
        /* TODO: @Brayan-chan Adjust size for mobile version */
        /* @Brayan-chan es necesario ajustar el tamaño a la */
        /* Configuracion en la version mobile */
        /* display: grid; */
        /* grid-template-columns: 1fr 1fr 1fr; */
    }

    h1 {
        /* TODO: @Brayan-chan Adjust size for mobile version */
        /* @Brayan-chan es necesario ajustar el tamaño a la */
        /* Configuracion en la version mobile */
    }
}

@media(min-width: 1100px) {
    .app-menu>ul>li>a.exit-mobile {
        display: none;
    }

    div.row {
        /* TODO: @Brayan-chan Adjust size for mobile version */
        /* display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around; */
    }

    div#events-card.card.file-manager-folder {
        /* TODO: @Brayan-chan Adjust size for mobile version */
        /* max-width: 1200px */
    }
}